<%= simple_form_for(@track) do |f| %>
  <% if @track.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@track.errors.count, "error") %> prohibited this track from being saved:</h2>

      <ul>
      <% @track.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
     <div class="add-field col-md-5">
        <%= f.input :name %><br>
     </div>
  </div>

  <div class="row">
     <div class="add-field col-md-5">
        <%= f.number_field :id_album, label: 'Nom de l\'album', placeholder: 'Nom de l\'album' %><br>
     </div>
  </div>

  <div class="row">
     <div class="add-field col-md-5">
        <%= f.input :track_file, as: :file %>
     </div>
  </div>

  <div class="actions">
    <%= f.button :submit, "Ajouter une piste", class: "btn btn-submit" %>
  </div>
<% end %>
