<% if can? :create, Track %>
   <div class="col-md-2">
      <%= link_to 'Ajouter une track', new_track_path, class: 'add-new-track add' %>
   </div>
<% end %>

<div id="tracks-list">
 <% @tracks.each do |track| %>
   <div class="track">
      <div class="play-button col-md-2">
         <audio controls="controls">
           Votre navigateur ne supporte pas l'élément <code>audio</code>.
           <source src="<%= track.track_file.url %>">
         </audio>
         Play
      </div>
      <p class="col-md-4"><%= track.name %></p>
      <% if track.album.present? %>
         <p class="col-md-4"><%= track.album.name %></p>
      <% end %>
      <p class="col-md-1"><%= link_to 'Show', track %></p>
      <p class="col-md-1"><%= link_to 'Edit', edit_track_path(track) %></p>
      <p class="col-md-1"><%= link_to 'Destroy', track, method: :delete, data: { confirm: 'Are you sure?' } %></p>
   </div>
 <% end %>
</div>
