<div id="signup-form">
   <div class="row">
     <div class="col-md-4 col-sm-6 col-xs-8 col-md-offset-4 col-sm-offset-3 col-xs-offset-2">
       <%= simple_form_for(@user) do |f| %>

         <%= render 'shared/error_messages' %>

         <div class="form-group">
             <%= f.input :name, placeholder: 'Nom', class: 'form-control', label: false %>
         </div>

         <div class="form-group">
             <%= f.input :firstname, placeholder: 'Prénom', class: 'form-control', label: false %>
         </div>

         <div class="form-group">
            <%= f.input :mail, placeholder: 'Mail', class: 'form-control', label: false %>
         </div>

         <div class="form-group">
            <%= f.input :pseudo, placeholder: 'Nom d\'utilisateur', class: 'form-control', label: false %>
         </div>

         <div class="form-group">
            <%= f.input :password, placeholder: 'Mot de passe', class: 'form-control', label: false %>
         </div>

         <div class="form-group">
           <%= f.input :password_confirmation, placeholder: 'Confirmation du mot de passe', class: 'form-control', label: false %>
         </div>

         <p class="terms">En cliquant sur S'inscrire,
            vous acceptez les <span>conditions d'utilisation</span> et la <span>politique de confidentialité</span> de Vyco.</p>

         <%= f.submit "Connexion", class: "btn btn-submit" %>

         <p class="have-account">Vous avez déjà un compte ? <%= link_to "Connectez-vous.", login_path %></p>
      <% end %>
     </div>
   </div>

</div>
