<p id="notice"><%= notice %></p>

<% if can? :create, Style %>
   <div class="col-md-2">
      <%= link_to 'Nouveau style musical', new_style_path, class: 'add-new-style add' %>
   </div>
<% end %>

<div id="styles-list">
   <% @styles.each do |style| %>
      <div class="style col-md-3">
         <div class="style-avatar">
            <%= style.avatar.exists? ? image_tag(style.avatar.url(:medium)) : '&empty;'.html_safe %>
            <p class="style-name"><%= style.name %></p>
         </div>
         <% if can? :create, Style %>
            <div class="edit-section">
               <%= link_to 'Modifier', edit_style_path(style) %>
               <%= link_to 'Supprimer', style, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
         <% end %>
      </div>
   <% end %>
</div>
