<%= simple_form_for(@album) do |f| %>
  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% @album.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
     <div class="add-field col-md-5">
        <%= f.input :name, label: 'Nom de l\'album' %>
     </div>
  </div>

  <div class="row">
     <div class="add-field col-md-5">
        <label>Date de sortie</label>
        <%= f.text_field :date_release, :id => "datepicker", label: 'Date de sortie' %>
     </div>
  </div>

  <div class="row">
     <div class="add-field col-md-5">
        <%= f.association :style, label: 'Style musical' %>
     </div>
  </div>

  <div class="row">
     <div class="add-field col-md-5">
        <%= f.association :artist, label: 'Artiste' %>
     </div>
  </div>

  <div class="row">
     <div class="col-md-5">
       <%= f.input :avatar, as: :file, class: 'album-avatar', label: 'Cover' %>
     </div>
  </div>

  <div class="actions">
    <%= f.submit 'Enregistrer', class: 'btn-submit' %>
  </div>
<% end %>

<script>
   $('#datepicker').datepicker({
      language: 'fr',
      format: 'dd-mm-yyyy'
   });
</script>
