<%= simple_form_for(@album) do |f| %>
  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% @album.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
     <div class="add-field col-md-5">
        <%= f.input :name, label: 'Nom de l\'album' %>
     </div>
  </div>

  <div class="row">
     <div class="add-field col-md-5">
        <%= f.date_select :date_release, label: 'Date de sortie' %>
     </div>
  </div>

  <div class="row">
     <div class="add-field col-md-5">
        <%= f.input :id_style, label: 'Style' %>
     </div>
  </div>

  <div class="row">
     <div class="add-field col-md-5">
        <%= f.input :id_artist, label: 'Artiste' %>
     </div>
  </div>

  <div class="actions">
    <%= f.submit 'Enregistrer', class: 'btn-submit' %>
  </div>
<% end %>
