<p id="notice"><%= notice %></p>

<% if @album.avatar.exists? %>
   <div class="album-avatar col-md-4"><%= image_tag(@album.avatar.url(:medium)) %></div>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @album.name %>
</p>

<p>
  <strong>Date release:</strong>
  <%= @album.date_release %>
</p>

<p>
  <strong>Style:</strong>
  <%= @album.style.name %>
</p>

<p>
  <strong>Id artist:</strong>
  <%= @album.id_artist %>
</p>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
