<div class="single-album-page col-md-11 col-md-offset-1">

   <% if @album.avatar.exists? %>
      <div class="album-avatar col-md-4"><%= image_tag(@album.avatar(:medium)) %></div>
   <% end %>

   <h3 class="album-name">
     <%= @album.name %>
  </h3>

  <div class="artist-name">
     <p><%= @album.artist.name %></p>
  </div>

  <div class="release-date">
     <p>Date de sortie : <%= @album.date_release %></p>
  </div>

  <div class="actions">
    <%= link_to 'Edit', edit_album_path(@album) %>
    <%= link_to 'Back', albums_path %>
   </div>

   <div id="tracks-list" class="col-md-10">
      <%# Get all the tracks's albums %>
      <% @album.tracks.each do |track| %>
      <div class="track">
         <div class="play-button col-md-4 col-md-offset-1">
            <!--
            <audio controls="controls">
              Votre navigateur ne supporte pas l'élément <code>audio</code>.
              <source src="file:<%=track.track_file.path%>">
            </audio>
            -->
            Play
         </div>
         <p class="col-md-4"><%= track.name %></p>
         <div class="edit-section">
            <%= link_to 'Show', track, class: 'col-md-2' %>
            <%= link_to 'Edit', edit_track_path(track), class: 'col-md-2' %></p>
            <%= link_to 'Destroy', track, method: :delete, data: { confirm: 'Are you sure?' }, class: 'col-md-2'%>
         </div>
      </div>
    <% end %>
   </div>
</div>
