<!DOCTYPE html>
<html>
<head>
  <title>Vyco</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- FONTS -->
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

</head>
<body>

   <% if user_signed_in? %>
      <header id="main-header" class="container-fluid">
         <div class="row">
            <div class="col-md-9">
               <div class="col-md-2">
                  <%= content_tag :span, "Vyco", :class => "logo" %>
               </div>
               <div class="col-md-10">
                  <ul>
                     <% if can? :create, Artist %>
                        <li class="col-md-3"><%= link_to 'Ajouter un artiste', new_artist_path %></li>
                     <% end %>
                     <% if can? :create, Playlist %>
                        <li class="col-md-3"><%= link_to 'Ajouter une playlist', new_playlist_path %></li>
                     <% end %>
                     <% if can? :create, Track %>
                        <li class="col-md-3"><%= link_to 'Ajouter un track', new_track_path %></li>
                     <% end %>
                  </ul>
               </div>
            </div>
            <div id="user-informations" class="col-md-3"><span class="gravatar"><%= image_tag gravatar_url(current_user) %></span> Hello <%= current_user.email %> <%= link_to('Déconnexion', destroy_user_session_path, :method => :delete, :class => "logout") %>
         </div>
      </header>
   <% else %>
      <div id="login-header">
         <%= content_tag :span, "Vyco", :class => "logo" %>
      </div>
   <% end %>

   <div class="container-fluid wrapper">
      <div class="row">
         <% if user_signed_in? %>
         <div id="sidebar" class="col-md-3 col-sm-3 col-xs-5">
            <div id="sidebar-nav">
               <section id="music">
                  <h3>Ma musique</h3>
                  <p>Artistes</p>
                  <p>Albums</p>
               </section>
               <section id="playlists">
                  <h3>Mes playlists</h3>
                  <div id="new-playlist">
                     <i class="fa fa-plus-circle" aria-hidden="true"></i>
                     <%= link_to 'Nouvelle playlist', new_playlist_path %>
                  </div>
                  <% if @playlists %>
                     <% @playlists.each do |playlist| %>
                        <p><i class="fa fa-music" aria-hidden="true"></i> <%= playlist.name %></p>
                     <% end %>
                  <% end %>
               </section>
            </div><!-- #sidebar-nav -->
         </div>
         <% end %>

         <% if user_signed_in? %>
         <div class="col-md-9 col-sm-9 col-xs-7 col-md-offset-3">
         <% else %>
            <div class="col-md-12">
         <% end %>
            <%= yield %>
         </div>
      </div>
   </div>

</body>
</html>
